/visualization/
ares.sh
/consolidated_results/
/ckpt/
/checkpoints/
/checkpoints_gridsearch_old/
/results/
/results_conformal/
/results_diffusion/
/results_gridsearch/
/wandb/
/results_ablation/
.idea/
/data/
/lightning_logs/
*.pyc
*.csv